#$ TOOL ispLEVER Classic 2.1.00.02.49.20
#$ DATE Wed Feb 21 09:36:50 2024
#$ MODULE xs3_to_bcd_lut
#$ PINS 8 p:3 q:4 r:5 s:6 d:27 c:26 b:25 a:24
.type fr
.i 4
.o 4
.ilb p q r s
.ob d c b a
.p 20
11-- 1~~~
-00- ~1~~
000- 1~~~
1-11 1~~~
-111 ~1~~
--01 ~~1~
---0 ~~~1
-0-0 ~1~~
00-0 1~~~
--10 ~~1~
01-- 0~~~
-10- ~0~~
100- 0~~~
---1 ~~~0
--11 ~~0~
0-11 0~~~
-011 ~0~~
-1-0 ~0~~
10-0 0~~~
--00 ~~0~
.end
